/* Remove as margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* ------ O QUE ESTÁ ACIMA É PARA ZERAR A PÁGINA, PARA DEIXAR SEM SOBRAS, RESETANDO O CSS. */

body {
  background-color: rgb(215, 255, 215); /* Defina a cor de fundo aqui */
  font-family: Arial, sans-serif; /* Defina a fonte que você deseja */
}

.app {
  background-color: aqua;
}